{% extends "base.html" %}

{% block title %}
    Reset your 2FAS password
{% endblock %}

{% block content %}
    <div class="twofas-container">
        <div class="card twofas-card-center card-login">
            <form action="{{ twofas_action_url('twofas-reset-password') }}" id="twofas-login-form" method="post">
                {{ twofas_action_nonce('twofas-reset-password') | raw }}
                <div class="form-input-container">
                    <label for="twofas-email">Your 2FAS email:</label>
                    <input name="twofas[twofas-email]" type="text" id="twofas-email" value="{{ email }}">
                </div>
                <div class="submit">
                    <input type="submit" name="submit" id="submit-button" class="button button-primary" value="Reset Password"/>
                </div>
                <hr>
            </form>
            <a href="{{ twofas_action_url('twofas-login') }}">I have an account in 2FAS</a><br>
            <a href="{{ twofas_action_url('twofas-create-account') }}">Create an account</a><br>
        </div>
    </div>
    <script type="text/javascript">
        function close_button(button) {
            var jQueryButton = jQuery(button);
            jQueryButton.parent().hide();
        }

        function add_error_notification(content) {
            jQuery(".notification-header").after('<div class="notice notice-error is-dismissible error"><p>' + content + '</p><button onclick="close_button(this)" class="notice-dismiss" type="button"></button></div>');
        }

        jQuery(document).ready(function () {
            jQuery('#submit-button').click(function () {
                var email = jQuery('#twofas-email').val();

                if (!email.length) {
                    add_error_notification('Please enter your 2FAS e-mail');
                    return false;
                }

                jQuery('.submit').addClass('disabled');
                jQuery('#submit-button').find('input[type="submit"]').val('Loading...');
            });

            var twofasEmail = jQuery('#twofas-email');
            var tempVal = twofasEmail.val();
            twofasEmail.val("");
            twofasEmail.val(tempVal).focus();
        });
    </script>
{% endblock %}
